@font-face {
    font-family: 'gotham_bold';
    src: url('gotham-bold-webfont.woff2') format('woff2'),
         url('gotham-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_light';
    src: url('gotham-light-webfont.woff2') format('woff2'),
         url('gotham-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archer_bold';
    src: url('archer-bold.woff2') format('woff2'),
         url('archer-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archer_book';
    src: url('archer-book.woff2') format('woff2'),
         url('archer-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}