$body-bg: #f4f4f4;
$newred: #993333;
$deepred: #8E1214;
$crem: #989085;
$lgrey: #181713;
$brown: #514843;
$crem2: #C3C1B8;
$lred: #E44344;
$goth-light: 'gotham_light',sans-serif;
$goth-bold: 'gotham_bold',sans-serif;
$archer-bold: 'archer_bold',sans-serif;
$archer-book: 'archer_book',sans-serif;
$brdr-rad-4:4px;