#sidebar{
.widget{
	display:block;
	margin:2em 0;
	padding:2em;
	background:#fff;
	border-radius:5px;
	a{
		color:#000;
		&:visited{
		color:#000;
		}
		&:hover{
		color:$newred;
		}
	}
	.widget-content{
		font-size:.9em;
		padding:1em 0 0 0;
		line-height:1.2em;
	}
	.widget-title{
		font-family:$goth-bold;
		font-size:.7em;
		margin:0 0 .5em 0;
		padding:0 0 .5em 0;
		border-bottom:1px solid $newred;
		text-transform:uppercase;
		letter-spacing:2px;
	}
}

	ul{
		margin:0;
		padding:0;
		list-style:none;
		a{
			display:block;
			padding:.5em 0;
			position:relative;
			transition:all .3s ease;

			&:before{
				position:absolute;
				display:block;
				content:'';
				width:0;
				height:1px;
				background:#000;
				top:50%;
				transition:all .3s ease;
				left:0;
			}
			&:hover{
				padding-left:1em;
				&:before{
					width:.8em;
				}
			}
		}
		li.recentcomments{
			padding:.5em 0;
			a{
				display:inline;
				padding:0;
				&:before{
					display:none;
				}
			}
			
		}
	}
}